.login-styles {
    height: 100vh;
    display: grid;
    place-content: center;
}

.form-style {
    width: 300px;
    border: 1px solid black;
    padding: 4% 8%;
}

button {
    display: block;
}

.container-project {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4%;
}

.cards-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

.card-project {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
    padding: 2%;
    max-width: 300px;
    min-width: 250px;
    flex-shrink: 0;
    gap: 5px
}

.image-project {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.span-project {
    color: black;
    font-weight: 600;
}

.modal-project {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: rgba(18, 17, 17, 0.5);
}

.modal-form-project {
    background-color: white;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 10px;
}

.btnBox-project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-project {
    background-color: #58C2ED;
    color: white;
    border-radius: 50px;
    border: 0px;
    width: 125px;
    padding: .3rem;
}

.btn-project:hover {
    color: black;
    border: 1px solid black;
}

.a-project {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    width: 125px;
    padding: .3rem;
    text-align: center;
}

.a-project:hover {
    color: #58C2ED;
    border-color: #58C2ED;
}

.dropdown-project {
    border: 1px solid black
}

.list-project {
    position: relative;
    z-index: 10;
    display: none;
    flex-direction: column;
}

.list-project-active {
    display: flex;
}

.list-item-project {
    list-style: none;
}

@media screen and (min-width: 450px) {
    .form-style {
        width: 420px;
    }

    .btnBox-project {
        flex-direction: row;
    }
}